[data-md-color-scheme="youtube"] {
    --md-primary-fg-color:              #164194;
    --md-primary-fg-color--light:       #3861b5;
    --md-primary-fg-color--dark:        #0e2050;
    --md-secondary-fg-color:            #ffed00;
    --md-secondary-fg-color--light:     #ffef2c;
    --md-secondary-fg-color--dark:      #f8aa00;
    
}

.md-header__button.md-logo img {
  height: 3rem;
}